{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_main_app, paterl}.
{escript_name, "paterl"}.
{escript_incl_apps, [paterl]}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%%Created by Duncan\n"}.

{profiles, [
  {test, [
    {erl_opts, [debug_info]}
  ]}
]}.
